@using Site.Admin2.ViewModels

@model UsersVM

<h1>Users</h1>

@Html.ActionLink("Create","Create","User")

<div>
@foreach(var user in Model.Users) {
    <div>@user.Id</div>
    <div>@user.Client</div>
    <div>@user.Username</div>
    <div>@user.Email</div>
    <div>@user.FirstName</div>
    <div>@user.LastName</div>
}
</div>

