@using Site.Admin2.ViewModels

@model UsersVM

<h1>Users</h1>

@Html.ActionLink("Create","Create","User")

<div class="container">
@foreach(var user in Model.Users) {
    
    <div class="row">
        <div class="col-md-1">@user.Client</div>
        <div class="col-md-1">@user.Username</div>
        <div class="col-md-2">@user.Email</div>
        <div class="col-md-1">@user.FirstName</div>
        <div class="col-md-1">@user.LastName</div>
        <div class="col-md-1">@Html.ActionLink("Details","Details","User", new { id=@user.Id })</div>
        <div class="col-md-1">@Html.ActionLink("Edit","Edit","User", new { id=@user.Id })</div>
        <div class="col-md-1">@Html.ActionLink("Delete","Delete","User", new { id=@user.Id })</div>
    </div>
}
</div>

